<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Users</title>
</head>
<body>
    <h1>Todos los usuarios</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        <tr>
            <% users.forEach((user) => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.age %></td>
                    <td>
                        <a id="btn-update" href="/users/update/<%= user.id %>" >Modificar</a>
                    </td>
                    <td>
                        <a id="btn-delete" href="/users/delete/<%= user.id %>" >Eliminar</a>
                    </td>
                </tr>
            <% }) %>
        </tr>
    </table>
</body>
</html>